<div class="row" *ngFor="let educacion of educacion">
  <h2>Educacion</h2>
  <div class="col-lg-11" *ngIf="educacion">
    <ul>
      <li>
        <h2>{{educacion.sedeEdu}}</h2> - <h3>{{educacion.fechaIniEdu}} {{educacion.fechaFinEdu}}</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident alias laborum amet saepe, cupiditate pariatur, quidem corrupti sunt itaque maxime atque ex eveniet reprehenderit aliquid perferendis? Dicta hic optio fugit.
      </p>
    </ul>

  </div>
</div>
