.logo-app{
  width: 50%;
}
.cabecera {
  width: 15%;
}

.logo {
  position:relative;
  z-index:1;
 }

 .minis {
   position:relative;
   z-index:1;
  }

 .inti {
   width: 5%;
   margin-right: 4%;
   position:relative;
 }

 .icored {
   margin-top: 5%;
   position: relative;
}

 @media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

 /**
 #perfil {
   width: 10%;
   height: "auto";
   position:relative;
   margin-top: -15%;
   left: 35px;
   size-adjust: 20%;
   z-index:2;
  }

  #Esfera {
   margin-top: -25%;
   position: relative;
 }
 */
