
  <div class="banda">
    <div class="logo">
      <img alt="Portada" src="../../assets/APLogo-20-20.png" id="ap" />
      <img alt="Inti" src="../../../assets/inti_t.png" id="inti"/>
      <img alt="Ministerio" src="../../../assets/ministerio_t.png" id="minis"/>
    </div>

    <div class="iconos">
      <a href="https://acortar.link/Z5EnRB"><img alt="Facebook" src="../../../assets/facebook_c_t.png" id="face" /></a>
      <a href="https://acortar.link/LT0WXt"><img alt="Github" src="../../../assets/github_c_t.png" id="git"/></a>
      <a href="https://acortar.link/HhxvY2"><img alt="Linkedin" src="../../../assets/linkedin_c_t.png" id="link"/></a>
      <a href="https://acortar.link/BCxMvh"><img alt="Whatsapp" src="../../../assets/instagram.png" id="what"/></a>
      <a href="mailto:adpastore@gmail.com"><img alt="Correo" src="../../../assets/correo_c_t.png" id="correo" /></a>
      <button type="button" class="btn btn-outline-success" id="boton">INGRESO</button>
    </div>
  </div>


