.banda{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  height: 80%;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

 #inti {
   width: 30px;
   height: 40px;
   margin-right: 6px;

 }
#minis{
  width: 140px;
  height: 40px;
  }
#ap{
  width: 100px;
  height: 40px;
}
img{
  width: 60px;
}
.iconos{
  flex-wrap: wrap;
}

#boton{
  margin-right: 15px;
}
.editar, .borrar{
  width: 45px;
}

.btn-success {
  color: #fff;
  background-color: #151c2d;
  border-color: #393437;
  width:  200px;
  height: 60px;
  margin-left: 40%;
}

 /*
 #perfil {
   width: 10%;
   height: "auto";
   position:relative;
   margin-top: -15%;
   left: 35px;
   size-adjust: 20%;
   z-index:2;
  }

  #Esfera {
   margin-top: -25%;
   position: relative;
 }
 */
