.contInst{
  text-align: center;
}
.contPot {
  justify-content: center;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.editar, .borrar{
  background-color: #ffffff;
  border-color: #ffffff;
  width: 45px;
}

.btn-success {
  color: #fff;
  background-color: #151c2d;
  border-color: #393437;
  width:  200px;
  height: 60px;
  align-items: center;
}

