<div class="row">
  <circle-progress
  [percent]="95"
  [radius]="80"
  [outerStrokeWidth]="15"
  [titleColor]="'#0e192b'"
  [subtitleColor]="'#323d4f'"
  [titleFontWeight]="'23px'"
  [showUnits]="false"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d5b69f'"
  [innerStrokeColor]="'#5e5565'"
  [animation]="true"
  [animationDuration]="1800"
  [title]="'Trabajo'"
  [subtitle]="'en Equipo'"
></circle-progress>
<circle-progress
  [percent]="40"
  [radius]="80"
  [outerStrokeWidth]="15"
  [titleColor]="'#0e192b'"
  [subtitleColor]="'#323d4f'"
  [titleFontWeight]="'23px'"
  [showUnits]="false"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d5b69f'"
  [innerStrokeColor]="'#5e5565'"
  [animation]="true"
  [animationDuration]="1800"
  [title]="'HTML/CSS'"
></circle-progress>
<circle-progress
  [percent]="90"
  [radius]="80"
  [outerStrokeWidth]="15"
  [titleColor]="'#0e192b'"
  [subtitleColor]="'#323d4f'"
  [titleFontWeight]="'23px'"
  [showUnits]="false"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d5b69f'"
  [innerStrokeColor]="'#5e5565'"
  [animation]="true"
  [animationDuration]="1800"
  [title]="'Git'"
></circle-progress>
<circle-progress
  [percent]="20"
  [radius]="80"
  [outerStrokeWidth]="15"
  [titleColor]="'#0e192b'"
  [subtitleColor]="'#323d4f'"
  [titleFontWeight]="'23px'"
  [showUnits]="false"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d5b69f'"
  [innerStrokeColor]="'#5e5565'"
  [animation]="true"
  [animationDuration]="1800"
  [title]="'JAVA'"
></circle-progress>
<circle-progress
  [percent]="15"
  [radius]="80"
  [outerStrokeWidth]="15"
  [titleColor]="'#0e192b'"
  [subtitleColor]="'#323d4f'"
  [titleFontWeight]="'23px'"
  [showUnits]="false"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d5b69f'"
  [innerStrokeColor]="'#5e5565'"
  [animation]="true"
  [animationDuration]="1800"
  [title]="'JavaScript'">
</circle-progress>
<circle-progress
  [percent]="15"
  [radius]="80"
  [outerStrokeWidth]="15"
  [titleColor]="'#0e192b'"
  [subtitleColor]="'#323d4f'"
  [titleFontWeight]="'23px'"
  [showUnits]="false"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d5b69f'"
  [innerStrokeColor]="'#5e5565'"
  [animation]="true"
  [animationDuration]="1800"
  [title]="'PYTHON'"
></circle-progress>
</div>
