/*Espacio alrededor*/
.row{
padding: 20px;
color: #aba292;
}

#nombre{
    font-weight: bold;
    font-size: 20px;
    color: #aba292;
}
#miFoto{
max-width: 80%;
margin-top: 7%;
}

/*Color de fondo de pagina*/
div{
  background-color: #151c2d;
}

/*movil - Portrait - Default*/
@media (max-width: 575.98px) and (orientation:landscape){
  #miFoto{
    top: 24%;
    left: 5%;
    width: 60%;
    border-radius: 100%;
    box-shadow: 3.75PX 3.75PX 3.75PX #483e3c;
    position:absolute;
    left: 3%;
  }
}

/*Tablet - Portrait*/
  @media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait){
    #miFoto{
      margin-top: -40%;
      left: 5%;
      width: 60%;
      border-radius: 100%;
      box-shadow: 3.75PX 3.75PX 3.75PX #483e3c;
      position: absolute;
    }
  }

    /*landscape*/
@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation:landscape) {
  #miFoto{
      top: -40%;
      left: 5%;
      width: 60%;
      border-radius: 100%;
      box-shadow: 3.75PX 3.75PX 3.75PX #483e3c;
      position: absolute;
  }
}

/*Escritorio*/
@media (min-width: 1199.98px) and (max-width: 1680px)and (orientation:landscape) {
  #miFoto{
    top: -47%;
    left: 5%;
    width: 60%;
    border-radius: 100%;
    box-shadow: 3.75PX 3.75PX 3.75PX #483e3c;
    position: absolute;
  }
}
