
<div class="row">
  <!-- forma de presentarse en diferentes dispositivos -->
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      alt="foto_portada"
      src="../../../assets/fotoperfil.jpg "
      class="img-fluid"
      id="miFoto"
    />
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Andres Pastore</p>
    <p>Programador Full Stack Traineer</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mi</h1>
      <p>
        Programador Web Full Stack Trainee, con un gran interés en aumentar mis
        habilidades. Trabajé siempre en equipos colaborativos para proporcionar un excelente servicio. Estoy en busca de una oportunidad laboral en la que desarrollar mis habilidades y adquirir experiencia. Con óptimas habilidades para fomentar las relaciones con los clientes mediante una comunicación cuidada orientada a garantizar su fidelización.Vendedor muy experimentado de Materiales Eléctricos, programador de micro-PLC para aplicaciones de Transferencias automáticas entre Grupos Electrógenos y la Red pública, cómo así también de programas de menores alcances.
      </p>
    </span>
  </div>
</div>
