<div class="app-redess">
  <a href=""
    ><img alt="Facebook" class="icored" src="../../../assets/facebook_c_t.png"
  /></a>
  <a href=""
    ><img alt="Github" class="icored" src="../../../assets/github_c_t.png"
  /></a>
  <a href=""
    ><img alt="Linkedin" class="icored" src="../../../assets/linkedin_c_t.png"
  /></a>
  <a href=""
    ><img alt="Whatsapp" class="icored" src="../../../assets/whatsapp_c_t.png"
  /></a>
  <a href=""
    ><img alt="Correo" id="icored" src="../../../assets/correo_c_t.png"
  /></a>
</div>
